@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(#1c1917 50%, #ffb92a 50%);
}
.container {
  font: 16px;
  width: 90vw;
  max-width: 37.5em;
  padding: 3em 1.8em;
  background-color: #e9eaeb;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}
.video-container {
  background-color: #e2b65d;
  border: 1px solid #818385;
  padding: 8px;
  border-radius: 12px;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
  color: #f6f8fb;
}
.videoElement {
  margin-top: 10px;
  width: 100%;
  height: 214px;
}
.transcript-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(83, 81, 81);
  height: 300px;
  border: 1px solid #818385;
  padding: 8px;
  border-radius: 12px;
  margin-top: 20px;
}

.text-transcript {
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: rgb(238, 246, 246);
  height: 200px;
  border: 1px solid #818385;
  padding: 8px;
  width: 60vh;
  border-radius: 12px;
  margin-top: 20px;
}

.audio-transcript {
  font-size: 1.5rem;
  font-family: monospace;
  white-space: pre;
  word-wrap: normal;
  margin-bottom: 20px;
  background-color: rgb(238, 246, 246);
  height: 200px;
  width: 60vh;
  border: 1px solid #818385;
  padding: 8px;
  border-radius: 12px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}
